PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gmark?schema=public"
RESEND_API_KEY=""
CONTACT_RECEIVER_EMAIL=""
CONTACT_SENDER_EMAIL="G Mark Admin <onboarding@resend.dev>"
JWT_SECRET="replace_with_a_secure_random_string_in_production"

# EmailJS configuration
EMAILJS_SERVICE_ID=""
EMAILJS_TEMPLATE_ID=""
EMAILJS_PUBLIC_KEY=""
EMAILJS_PRIVATE_KEY=""
